.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group sample-group2
      %ul.main-header__left-box__member-list
        %li.main-header__left-box__member-list__member
          Member : 
        %li.main-header__left-box__member-list__member sample_user1
        %li.main-header__left-box__member-list__member sample_user2
    =link_to root_path do
      .main-header__edit-btn Edit
  .messages
    .message
      .message__upper-info
        %p.message__upper-info__talker sample_user1
        %p.message__upper-info__date 2019/08/15(Thu) 20:07:02
      %p.message__text sample_text
    .message
      .message__upper-info
        %p.message__upper-info__talker sample_user1
        %p.message__upper-info__date 2019/08/15(Thu) 20:07:02
      %p.message__text sample_text
    .message
      .message__upper-info
        %p.message__upper-info__talker sample_user1
        %p.message__upper-info__date 2019/08/15(Thu) 20:07:02
      %p.message__text sample_text
    .message
      .message__upper-info
        %p.message__upper-info__talker sample_user1
        %p.message__upper-info__date 2019/08/15(Thu) 20:07:02
      %p.message__text sample_text
    .message
      .message__upper-info
        %p.message__upper-info__talker sample_user1
        %p.message__upper-info__date 2019/08/15(Thu) 20:07:02
      %p.message__text sample_text
    .message
      .message__upper-info
        %p.message__upper-info__talker sample_user1
        %p.message__upper-info__date 2019/08/15(Thu) 20:07:02
      %p.message__text sample_text
  .form
    %form.new-message
      .input-box
        %input.input-box__text{:placeholder => "type a message", :type => "text"}
        %label.input-box__image{:name => "message_image"}
          = fa_icon 'image'
          %input.input-box__image__file{:type => "file", :id => "message_image"}
      %input.submit-btn{:type => "submit", :value => "Send", :'data-disable-with' => "Send"}