$side-font-color: #ffffff;
$side-header-bkcolor: #253141;
$side-group-bkcolor: #2f3e51;
$main-header-group-font-color: #333333;
$main-header-members-font-color: #999999;
$main-header-border-bottom-color: #eeeeee;
$main-header-edit-btn-font-color: #38aef0;
$main-header-edit-btn-border-color: #38aef0;
$main-messages-talker-font-color: #434A54;
$main-messages-text-font-color: #434A54;
$main-messages-date-font-color: #999999;
$main-messages-bkcolor: #fafafa;
$main-form-new-messeage-font-color: #434A54;
$main-form-bkcolor: #dddddd;
$main-form-submit-btn-bkcolor: #38AEF0;
$main-form-submit-btn-font-color: #ffffff;